.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.container {
  margin-top: 64px;
}
.content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

.header {
  background: #1e6ffb;
  position: fixed;
  z-index: 10;
  width: 100%
}

.reevooLogo {
  height: 64px;
  margin-left: 21px;
  padding: 18px 20px 0 15px;
  color: #fff;
  font-size: 40px;
  position: relative;
}

.button {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
}

.button:hover {
  background: #ffb300;
  border: none;
  color: white;
  font-size: 16px;
}

.button:active, .button:focus {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
}
